name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Xcode
      run: sudo xcode-select -s /Applications/Xcode.app/Contents/Developer

    - name: Build for Debug
      run: xcodebuild -project xAI-Balance-Menu.xcodeproj -scheme "xAI-Balance-Menu" -configuration Debug build

    - name: Build for Release
      run: xcodebuild -project xAI-Balance-Menu.xcodeproj -scheme "xAI-Balance-Menu" -configuration Release build